.post {
    margin: auto 0;
}

.post__meta {
    display: flex;
    flex-direction: column;
}

.post__title {
    text-decoration: none;
    font-weight: 600;
    
    &:hover {
        text-decoration: underline;
    }
}

.post__meta--posted-by {
    margin: 16px 0;
}

.post__meta--replies {
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

.post__vote-value {
    text-align: center;
}

.post__vote-button {
    background: none;
    border: none;
    outline: none;
    color: darken($lightgrey, 5);
    cursor: pointer;
}

.post__vote-button i.fa-arrow-up.active {
    color: $red;
}

.post__vote-button i.fa-arrow-down.active {
    color: $blue;
}