.subreddit-bar {
    display: flex;
    background: #F5F5F5;
    margin-left: 8px;
}

.subreddit-bar a {
    text-decoration: none;
    
        &:hover {
            text-decoration: underline;
        }
}