a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;font-family:sans-serif}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


.red {
    background-color: #FB6964;
}

.yellow {
    background-color: #FFD464;
}

.blue {
    background-color: #1352A2;
}

a {
    color: #1352A2;
}

.charcoal {
    background-color: #333332;
}

.cream {
    background-color: #f9f9f9;
}

header {
    background-color: #FB6964;
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.header__title {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.header__title h1 {
    color: #f9f9f9;
    font-family: sans-serif;
    font-size: 3rem;
    transition: 200ms;
}
.header__title h1:hover {
    color: #D0D0D0;
}
.header__title a {
    text-decoration: none;
}

.header__user-meta {
    display: flex;
    color: white;
}

.header__user-meta p {
    margin: auto;
    padding-right: 8px;
}

.header__user-meta a {
    transition: 200ms;
    color: #FFF;
    text-decoration: none;
    margin: auto 8px;
}

.header__user-meta a:hover {
    color: #D0D0D0;
}
.post-container {
    background-color: #f1f1f1;
    border-bottom: 2px solid white;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
}

.post__link {
    width: 100%;
}

.vote-container {
    margin: 16px;
    margin-right: 48px;
    font-weight: 600;
    font-size: 1.2rem;
    color: #808080
}

.post__meta {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.post {
    margin: auto 0;
}

.subreddit-bar {
    display: flex;
    background: #F5F5F5;
}
.subreddit-bar a:not(:last-child)::after {
    content: ' / ';
}