a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  color: #1352A2;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.u-footer-push {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px); }

.u-footer-push--form {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  overflow: hidden; }

.u-centered {
  text-align: center; }

.container--post {
  background-color: #f1f1f1;
  border-bottom: 2px solid white;
  padding: 32px;
  display: flex;
  flex-wrap: wrap; }

.container--vote {
  margin: 16px;
  margin-right: 48px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #808080; }

.container--flex {
  display: flex; }

.container--flex-column {
  display: flex;
  flex-direction: column; }

.header {
  background-color: #FB6964;
  height: 64px;
  display: flex;
  justify-content: space-between; }

.header__title {
  display: flex;
  align-items: center;
  margin-left: 16px; }

.header__title h1 {
  color: #f9f9f9;
  font-family: sans-serif;
  font-size: 3rem;
  transition: 200ms; }

.header__title h1:hover {
  color: #D0D0D0; }

.header__title a {
  text-decoration: none; }

.header__user-meta {
  display: flex;
  color: white; }

.header__user-meta p {
  margin: auto;
  padding-right: 8px; }

.header__user-meta a {
  transition: 200ms;
  color: #FFF;
  text-decoration: none;
  margin: auto 8px; }

.header__user-meta a:hover {
  color: #D0D0D0; }

.subreddit-bar {
  display: flex;
  background: #F5F5F5;
  margin-left: 8px; }

.subreddit-bar a:not(:last-child)::after {
  content: '\00a0/\00a0'; }

.subreddit-bar a {
  text-decoration: none; }
  .subreddit-bar a:hover {
    text-decoration: underline; }

.post {
  margin: auto 0; }

.post__meta {
  display: flex;
  flex-direction: column; }

.post__title {
  text-decoration: none;
  font-weight: 600; }
  .post__title:hover {
    text-decoration: underline; }

.post__meta--posted-by {
  margin: 16px 0; }

.post__meta--replies {
  text-decoration: none; }
  .post__meta--replies:hover {
    text-decoration: underline; }

.fixed-form__footer-push {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#fb6964, #bc6375); }

.fixed-form {
  display: flex;
  flex-direction: column;
  padding: 128px;
  min-width: 600px;
  background: #F5F5F5; }

.fixed-form__input--full-width {
  width: 100%;
  margin-bottom: 32px;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
  padding-left: 8px;
  border: 1px solid #D0D0D0;
  border-radius: 2px;
  outline: none;
  color: #333332; }
  .fixed-form__input--full-width:focus {
    border-color: #aaaaaa; }

.fixed-form__button {
  width: 100%;
  background: #d8d8d8;
  border: none;
  border-bottom: #D0D0D0 3px solid;
  border-radius: 2px;
  height: 3rem;
  display: block;
  margin: 0 auto 32px auto;
  color: #5a5a5a;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer; }
  .fixed-form__button:hover {
    background-color: #D0D0D0; }
