extends ../layout/header
block content
        div(id="contents")
            ul(class="contents-list")
                each post in posts
                    a.post(href=post.url)
                        li= post.title
                    p submitted by #{post.user.username}
            ul
        div