extends ../layout/header
block content
        div(id="contents")
            ul(class="contents-list")
                each post in posts
                    div.post-container
                        div.vote-container= post.totalVotes
                        div.post-meta
                            a.post-container__link(href=post.url)= post.title
                            p submitted by #{post.user.username}
            ul
        div