doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="/assets/css/styles.css")
    body
        header.red
            h1.site-header__title plebisite
        block content