extends ../../layout/main
block content
        section(class="contents")
                each post in posts
                    article.container--post
                        div.container--vote= post.totalVotes
                        div.post
                            a.post__title(href=post.url)= post.title
                            div.post__meta
                                p.post__meta--posted-by posted #{moment(post.createdAt).fromNow()} by #{post.user.username}
                                a.post__meta--replies(href= post.subredditUrl + '/' + post.postId) [ replies ]