extends ../../layout/header
block content
        div(id="contents")
            ul(class="contents-list")
                each post in posts
                    div.post-container
                        div.vote-container= post.totalVotes
                        div.post-meta
                            a.post-container__link(href=post.url)= post.title
                            a(href= post.subredditUrl + '/' + post.postId)
                                p [ replies ]
                            p -#{post.user.username}