extends ../../layout/main
block title
    title Create a new subreddit
block content
    section.fixed-form__footer-push
        div.fixed-form
            if user
                form(action="/create/subreddit", method="POST")
                    input.fixed-form__input--full-width(type="text", name="name", placeholder="Subreddit name")
                    input.fixed-form__input--full-width(type="text", name="description", placeholder="Describe your subreddit")
                    button.fixed-form__button(type="submit") Create
            else
                h2 You must be logged in to create a new subreddit :(