extends ../../layout/header
block title
    title Create an account
block content
    form(action="/create/user", method="POST")
        div
            input(type="text", name="username", placeholder="Enter your username")
        div
            input(type="password", name="password", placeholder="Enter a password")
        button(type="submit") Create!
    p Already have an account?
    a(href='/login') Login now!